<br>
<br>
<br>
<div class="container text-center py-3">
<h1>Tadaaaam</h1>
<div class="py-3">
<%= @message %>
</div>
<br>
<%= link_to "On recommence ?", new_path, class: "btn btn-primary text-warning"%>
</div>
